.contenido-esq-recu {
  font-size: 1.3rem;
  color: #724060;
  margin-bottom: 10px;
}

.contenido-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

#item-g1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#item-g2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item-pequeño {
  grid-column: auto;
  grid-row: auto;
}

.esquema-lecturas {
  font-size: 1.1rem;
  color: #724060;
  text-align: justify;
  background-color: transparent;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.esquema-lecturas ul {
  padding-left: 20px;
  margin: 10px 0px;
}

.esquema-lecturas li {
  margin-bottom: 10px;
}

.img-esquemas {
  float: right;
  margin: 0px;
  width: 130px;
  opacity: 0.8;
  border-radius: 20px;
  object-fit: cover;
}

.img-izq {
  float: left;
}

#m-de-maria {
  width: 110px;
  opacity: 0.7;
}

.contenido-wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recursos-button-container {
  text-align: center;
  align-items: center;
  padding: 10px 0px;
}
.recursos-button {
  display: inline-flex;
  padding: 15px;
  font-size: 0.97rem;
  color: #fdf3f3;
  background-color: rgba(160, 112, 161, 0.95);
  border: 1px solid #a070a1;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  margin: 5px;
  text-decoration: none;
  width: 65%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.recursos-button:hover {
  transform: scale(1.1);
  background: radial-gradient(circle at top left, #a070a1 0%, #724060 90%);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.recursos-button:active {
  transform: translateY(0px);
  color: #724060;
  background: radial-gradient(circle at top left, #a070a1 0%, #f8e7e7 90%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.recursos-button1 {
  display: inline-flex;
  padding: 8px;
  font-size: 0.97rem;
  color: #a070a1;
  background-color: #fdf3f3;
  border: 1px solid #a070a1;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  margin: 5px;
  text-decoration: none;
  width: 45%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.recursos-button1:hover {
  transform: scale(1.1);
  background-color: #a070a1;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  color: #fdf3f3;
}

.recursos-button1:active {
  transform: translateY(0px);
  color: #724060;
  background: radial-gradient(circle at top left, #a070a1 0%, #f8e7e7 90%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  .contenido-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  .esquema-lecturas,
  .contenido-esq-recu {
    font-size: 1.1rem;
  }

  #item-g1,
  #item-g2,
  .item-pequeño,
  .esquema-lecturas {
    grid-column: 1 / -1 !important; /* Ocupa de la primera a la última línea (1 columna) */
    grid-row: auto !important; /* Resetea el posicionamiento vertical y los apila */
  }

  .img-esquemas {
    width: 28%;
  }
  #m-de-maria {
    width: 28%;
  }

  .recursos-button {
    padding: 8px;
    font-size: 0.95rem;
  }
}
