*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fdf3f3;
}
.main-container {
  display: grid;
  gap: 15px;
}

.first-container {
  width: 99%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to top, #f8e7e7 0%, #fdf3f3 100%);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

#maria1 {
  position: absolute;
  height: auto;
  opacity: 0.85;
  z-index: 0;
  border-radius: 15px;
  object-fit: cover;
  width: 300px;
  top: 10px;
  left: -70px;
}

h1 {
  font-family: "Limelight", serif;
  font-size: 6.2rem;
  text-shadow: 3px 2px 5px rgba(114, 64, 96, 0.5);
  color: #724060;
  margin-bottom: 5px;
  letter-spacing: 2px;
  position: relative;
  z-index: 5;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-shadow: 3px 2px 5px rgba(160, 112, 161, 0.5);
  color: #a070a1;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  z-index: 5;
}

.participa-button {
  display: inline-flex;
  padding: 14px 28px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #fdf3f3;
  background: radial-gradient(circle at top left, #724060 0%, #a070a1 90%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
  margin: 20px;
  text-decoration: none;
  width: 65%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.participa-button:hover {
  transform: scale(1.2);
  background: radial-gradient(circle at top left, #a070a1 0%, #724060 90%);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.participa-button:active {
  transform: translateY(0px);
  color: #724060;
  background: radial-gradient(circle at top left, #a070a1 0%, #f8e7e7 90%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.menu-container {
  display: inline-block;
  width: 99%;
  margin: auto;
  padding: 5px;
  background: linear-gradient(to top, #a070a1 0%, #724060 100%);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

.img-menu-short {
  display: inline;
  width: 4%;
  opacity: 0.8;
  border-radius: 15px;
  object-fit: cover;
  margin-left: 10px;
}

.second-container {
  width: 99%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to top, #f8e7e7 0%, #fdf3f3 100%);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.que-es-container {
  display: block;
  padding: 20px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #724060;
  font-weight: 500;
  text-align: center;
  font-style: italic;
}

.programa-content {
  display: inline-block;
  padding: 20px;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  color: #724060;
  text-align: justify;
}

#img-cruz-programa {
  float: right;
  margin: 0px;
  width: 300px;
  opacity: 0.85;
  border-radius: 15px;
  object-fit: cover;
}

.more-info-wrap {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
  align-items: center;
  margin: 10px 15px 10px 10px;
}

.more-info-card1,
.more-info-card2,
.more-info-card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  max-width: 800px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
  text-decoration: none;
}
.more-info-card1 {
  background-color: #a070a1;
  color: #fdf3f3;
}

.more-info-card2 {
  background-color: #724060;
  color: #fdf3f3;
}

.more-info-card3 {
  background-color: #fdf3f3;
  color: #724060;
}

.more-info-card1:hover,
.more-info-card2:hover,
.more-info-card3:hover {
  opacity: 0.95;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transform: scale(1.3);
}

.more-info-card1:active,
.more-info-card2:active,
.more-info-card3:active {
  transform: scale(1.3);
  border: 1.5px solid #f70776;
}

.img-menu {
  float: left;
  margin: 0px;
  width: 30%;
  opacity: 0.65;
  border-radius: 15px;
  object-fit: cover;
}

.third-container {
  width: 99%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to top, #f8e7e7 0%, #fdf3f3 100%);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.preguntas-frecuentes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.preguntas-frecuentes-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.preguntas-container {
  background: rgba(160, 112, 161, 0.15); /* third-color con transparencia */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.preguntas-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.preguntas-container summary {
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  color: #724060; /* fourth-color */
  cursor: pointer;
  margin-bottom: 10px;
}

.preguntas-container p {
  font-family: "Playfair Display", serif;
  font-size: 0.95rem;
  color: #a070a1;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
}
.preguntas-container ul {
  padding: 5px;
  font-family: "Playfair Display", serif;
  font-size: 0.95rem;
  color: #a070a1;
  margin: 0;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-family: "Playfair Display", serif;
  font-size: 0.95rem;
  color: rgba(114, 64, 96, 0.4);
}

footer a {
  color: rgba(114, 64, 96, 0.5);
  text-decoration: none;
  transition: color 0.25s ease;
}

@media (max-width: 600px) {
  .first-container {
    padding: 5px;
  }
  #maria1 {
    width: 180px;
    left: -40px;
    top: 20px;
    opacity: 0.4;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
    max-width: 90%;
    margin: 0 auto 10px;
  }

  .participa-button {
    font-size: 0.8rem;
    margin: 10px;
  }
  .menu-container {
    padding: 10px;
    gap: 10px;
  }
  .menu {
    font-size: 0.8rem;
  }

  .que-es-container {
    font-size: 0.95rem;
    padding: 0;
  }

  #img-cruz-programa {
    width: 150px;
  }

  .programa-content {
    font-size: 0.85rem;
    padding: 0;
    margin-top: 20px;
  }

  .programa-content ul {
    padding: 10px;
    margin: 0px;
  }

  .more-info-wrap {
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
  }

  .more-info-card1,
  .more-info-card2,
  .more-info-card3 {
    font-size: 0.5rem;
    padding: 5px;
    gap: 0.5px;
  }

  .preguntas-frecuentes {
    padding: 0px;
  }
  .preguntas-frecuentes-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  .preguntas-container {
    padding: 10px;
  }

  .preguntas-container summary {
    font-size: 0.85rem;
    margin-bottom: 5px;
  }

  .preguntas-container p,
  .preguntas-container ul {
    font-size: 0.8rem;
  }

  footer,
  footer a {
    font-size: 0.75rem;
  }
}
