/* =============================
   GRID DE TARJETAS
================================*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 98%;
  max-width: 900px;
  margin: 15px auto;
}

/* =============================
   CONTENEDOR TARJETA PRINCIPAL
================================*/
.flip-card {
  width: 100%;
  perspective: 1000px; /* Efecto 3D */
}

/* =============================
   CAPA INTERNA QUE GIRA
================================*/
.flip-card-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3; /* Mantiene altura perfecta */
  transition: transform 0.7s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

/* =============================
   EFECTO DE VOLTEO
================================*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* =============================
   CARA FRONTAL Y TRASERA
================================*/
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(114, 64, 96, 0.3);
  font-family: "Playfair Display", serif;
}

/* Frente */
.flip-card-front {
  background-color: #fdf3f3;
  border: 1px solid #f4dce6;
}

.flip-card-front h5 {
  font-size: 1.15rem;
  color: #724060;
  margin: 0;
}

/* Parte trasera */
.flip-card-back {
  background-color: #f8e7ef;
  transform: rotateY(180deg);
}

.flip-card-back h5 {
  color: #724060;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

.flip-card-back p {
  color: #a070a1;
  text-align: center;
}
@media (max-width: 700px) {
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h4,
  h5 {
    font-size: 1.5rem;
  }
}
