.guide {
  color: #724060;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.guide ul {
  display: inline-block;
  text-align: justify;
  padding-left: 0;
}

#img-reu {
  float: right;
  margin: 0px;
  margin-left: 20px;
  width: 190px;
  opacity: 0.85;
  border-radius: 15px;
  object-fit: cover;
}

#img-bosque {
  float: left;
  margin: 0px;
  margin-right: 20px;
  width: 220px;
  opacity: 0.85;
  border-radius: 30px;
  object-fit: cover;
}
.contenido-wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: auto;
  width: 100%;
}

.recursos-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 10px;
}

.esquema-lecturas {
  font-size: 1.1rem;
  color: #724060;
  text-align: justify;
}

.recursos-button1 {
  display: inline-flex;
  padding: 8px;
  font-size: 0.97rem;
  color: #a070a1;
  background-color: #fdf3f3;
  border: 1px solid #a070a1;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  margin: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}

.recursos-button1:hover {
  transform: scale(1.1);
  background-color: #a070a1;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  color: #fdf3f3;
}

.recursos-button1:active {
  transform: translateY(0px);
  color: #724060;
  background: radial-gradient(circle at top left, #a070a1 0%, #f8e7e7 90%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

ul {
  margin-bottom: 40px;
  width: 95%;
}

@media (max-width: 800px) {
  #img-reu {
    margin-left: 5px;
    width: 45%;
  }

  #img-bosque {
    margin-right: 5px;
    width: 45%;
  }

  .contenido-wrapper1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  ul {
    width: 95%;
    padding: 10px;
    margin: 0px;
  }

  .guide {
    padding-top: 5px;
    font-size: 1.1rem;
  }
  .recursos-button-container {
    gap: 3px;
  }

  .recursos-button1 {
    padding: 8px;
    font-size: 0.95rem;
  }
}
